<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python SimpleServer</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
  </head>

  <style>
    .head {
      background-color: #94b4a4;
      height: 150px;
    }

    .head h1 {
      font-weight: 800;
      margin-top: 50px;
      color: #373a40;
    }

    .body {
      background-color: #e8e8e8;
    }

    .buttonsGroup {
      width: 100%;
      text-align: end;
    }
  </style>

  <body class="body">
    <div class="container-fluid">

    <div class="head">
        <div class="row mb-3 mt-3">
          <div class="col-md-6 offset-md-2">
            <h1>Python SimpleServer</h1>
          </div>
          <div class="col-md-2 mt-5">
            <button
              type="button"
              class="btn btn-dark"
              onclick="indexRedirect()"
            >
              Back
            </button>
          </div>
        </div>
      </div>


    <div class="row mb-3 mt-5">
        <div
          class="col-md-8 offset-md-2">

